<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.WhatsAppTranslate">

        <!-- Definición de actividades -->
        <activity android:name=".LanguageSelectionActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".PermissionSettingsActivity"
            android:label="@string/app_name">
        </activity>

        <activity android:name=".ActivationActivity"
            android:label="@string/app_name">
        </activity>

        <!-- MainActivity que lanza la aplicación -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Servicios para traducción en segundo plano -->
        <service
            android:name=".TranslationService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/translation_service_config" />
        </service>

    </application>

    <!-- Permisos necesarios -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.CAPTURE_AUDIO_OUTPUT" />
    
</manifest>
